* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

/*=============HEADER==============*/
header {
  display: flex;
  min-width: 1200px;
  min-height: 80px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px;
  box-shadow: rgba(150, 145, 145, 0.35) 0px 5px 15px;
  position: relative;
}

.logo-container {
  margin-left: 20px;
}
.logo {
  width: 79px;
  height: 78px;
}
.menu-bar {
  display: flex;
  margin-left: 40px;
}
.menu-bar ul {
  display: flex;
  gap: 30px;
  align-items: center;
}



/*==========MEN==============*/

.menu-heading1 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4e4848;
  padding-bottom: 31px;
}
.firstli {
  position: relative;
}

.sub-menu1 {
  display: none;
  position: absolute;
  top: 100%;
  left: -30px;
  margin-top: 33px;
  background-color: #ffffff;
  height: 450px;
  width: 700px;
  z-index: 9999;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.firstli:hover .sub-menu1 {
  display: flex;
}

.firstli:hover .menu-heading1 {
  border-bottom: 5px solid orangered;
}

.item-heading1 {
  color: #ff0000a9;
  font-size: 13px;
  font-weight: 600;
}

.sub-menu-heading1 ul {
  display: flex;
  flex-direction: column;
}

.sub-menu1 ul li a {
  color: #423d3d;
}
.sub-menu1 ul li {
  font-size: 12px;
  margin-bottom: 6px;
}

.sub-menu1 ul li:hover a {
  color: #000;
  font-weight: 550;
}

/*===============col1==========*/

.col1 {
  width: 233px;
  font-size: 15px;
  margin-left: 30px;
}
.col1 .box1 {
  height: 230x;
  text-align: left;
  margin-top: 10px;
  border-bottom: 1px solid slategray;
}
.col1 .box1 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 0;
  margin-top: 10px;
}

.col1 .box2 {
  height: 220px;
  text-align: left;
  margin-top: 10px;
}
.col1 .box2 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 0;
  margin-top: 10px;
}

/*====================col2============*/

.col2 {
  background-color: #f5f5f6;
  width: 233px;
  font-size: 15px;
  margin-left: 20px;
}

.col2 .box1 {
  height: 150px;
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
  border-bottom: 1px solid slategray;
}
.col2 .box1 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 0;
  margin-top: 10px;
}

.col2 .box2 {
  height: 150px;
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
  border-bottom: 1px solid slategray;
}
.col2 .box2 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 0;
  margin-top: 10px;
}

.col2 .box3 {
  height: 150px;
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
}
.col2 .box3 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 0;
}

/*===============col3============*/

.col3 {
  width: 233px;
  font-size: 15px;
  margin-left: 30px;
}
.col3 .box1 {
  height: 225px;
  text-align: left;
  margin-top: 10px;
  border-bottom: 1px solid slategray;
}
.col3 .box1 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 0;
  margin-top: 10px;
}

.col3 .box2 {
  height: 225px;
  text-align: left;
  margin-top: 10px;
}
.col3 .box2 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 0;
}

.col3 .box2 .sub-menu-heading1 {
  margin-bottom: 20px;
}

/*==========WOMEN==============*/
.menu-heading2 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4e4848;
  padding-bottom: 31px;
}
.secondli {
  position: relative;
}

.sub-menu2 {
  display: none;
  position: absolute;
  top: 100%;
  left: -30px;
  margin-top: 33px;
  background-color: #ffffff;
  height: 450px;
  width: 700px;
  z-index: 9999;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.secondli:hover .sub-menu2 {
  display: flex;
}

.secondli:hover .menu-heading2 {
  border-bottom: 5px solid #ff1489;
}

.item-heading2 {
  color: #ff1489;
  font-size: 13px;
  font-weight: 600;
}

.sub-menu-heading2 ul {
  display: flex;
  flex-direction: column;
}

.sub-menu2 ul li a {
  color: #423d3d;
}
.sub-menu2 ul li {
  font-size: 12px;
  margin-bottom: 6px;
}

.sub-menu2 ul li:hover a {
  color: #000;
  font-weight: 550;
}

/*===============col1==========*/

.secondli .col1 {
  width: 233px;
  font-size: 15px;
  margin-left: 30px;
}
.secondli .col1 .box1 {
  height: 230x;
  text-align: left;
  margin-top: 10px;
  border-bottom: 1px solid slategray;
}
.secondli .col1 .box1 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 0;
  margin-top: 10px;
}

.secondli .col1 .box2 {
  height: 220px;
  text-align: left;
  margin-top: 10px;
}
.secondli .col1 .box2 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 0;
  margin-top: 10px;
}

/*====================col2============*/

.secondli .col2 {
  background-color: #f5f5f6;
  width: 233px;
  font-size: 15px;
  margin-left: 20px;
}

.secondli .col2 .box1 {
  height: 300px;
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
  border-bottom: 1px solid slategray;
}
.secondli .col2 .box1 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 0;
  margin-top: 10px;
}

.secondli .col2 .box2 {
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
  border-bottom: 1px solid slategray;
}
.secondli .col2 .box2 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 0;
  margin-top: 10px;
}

/*===============col3============*/

.secondli .col3 {
  width: 233px;
  font-size: 15px;
  margin-left: 30px;
}
.secondli .col3 .box1 {
  height: 225px;
  text-align: left;
  margin-top: 10px;
  border-bottom: 1px solid slategray;
}
.secondli .col3 .box1 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 0;
  margin-top: 10px;
}

.secondli .col3 .box2 {
  height: 225px;
  text-align: left;
  margin-top: 10px;
}
.secondli .col3 .box2 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 0;
}

.secondli .col3 .box2 .sub-menu-heading2 {
  margin-bottom: 20px;
}

/*==========KIDS=================*/
.menu-heading3 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4e4848;
  padding-bottom: 31px;
}
.thirdli {
  position: relative;
}

.sub-menu3 {
  display: none;
  position: absolute;
  top: 100%;
  left: -30px;
  margin-top: 33px;
  background-color: #ffffff;
  height: 450px;
  width: 700px;
  z-index: 9999;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.thirdli:hover .sub-menu3 {
  display: flex;
}

.thirdli:hover .menu-heading3 {
  border-bottom: 5px solid #ff4400;
}

.item-heading3 {
  color: #ff4400;
  font-size: 13px;
  font-weight: 600;
}

.sub-menu-heading3 ul {
  display: flex;
  flex-direction: column;
}

.sub-menu3 ul li a {
  color: #423d3d;
}
.sub-menu3 ul li {
  font-size: 12px;
  margin-bottom: 6px;
}

.sub-menu3 ul li:hover a {
  color: #000;
  font-weight: 550;
}

/*===============col1==========*/

.thirdli .col1 {
  width: 233px;
  font-size: 15px;
  margin-left: 30px;
}
.thirdli .col1 .box1 {
  height: 230x;
  text-align: left;
  margin-top: 10px;
  border-bottom: 1px solid slategray;
}
.thirdli .col1 .box1 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 0;
  margin-top: 10px;
}

/*====================col2============*/

.thirdli .col2 {
  background-color: #f5f5f6;
  width: 233px;
  font-size: 15px;
  margin-left: 20px;
}

.thirdli .col2 .box1 {
  height: 350px;
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
}
.thirdli .col2 .box1 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 0;
  margin-top: 10px;
}

/*===============col3============*/

.thirdli .col3 {
  width: 233px;
  font-size: 15px;
  margin-left: 30px;
}
.thirdli .col3 .box1 {
  height: 225px;
  text-align: left;
  margin-top: 10px;
  border-bottom: 1px solid slategray;
}

.thirdli .col3 .box2 {
  height: 225px;
  text-align: left;
  margin-top: 10px;
}
.thirdli .col3 .box2 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 0;
}

/*==========HOME=================*/
.menu-heading4 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4e4848;
  padding-bottom: 31px;
}
.fourli {
  position: relative;
}

.sub-menu4 {
  display: none;
  position: absolute;
  top: 100%;
  left: -30px;
  margin-top: 33px;
  background-color: #ffffff;
  height: 450px;
  width: 700px;
  z-index: 9999;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.fourli:hover .sub-menu4 {
  display: flex;
}

.fourli:hover .menu-heading4 {
  border-bottom: 5px solid #ffc404;
}

.item-heading4 {
  color: #ffc404;
  font-size: 13px;
  font-weight: 600;
}

.sub-menu-heading4 ul {
  display: flex;
  flex-direction: column;
}

.sub-menu4 ul li a {
  color: #423d3d;
}
.sub-menu4 ul li {
  font-size: 12px;
  margin-bottom: 6px;
}

.sub-menu4 ul li:hover a {
  color: #000;
  font-weight: 550;
}

/*===============col1==========*/

.fourli .col1 {
  width: 233px;
  font-size: 15px;
  margin-left: 30px;
}
.fourli .col1 .box1 {
  height: 230x;
  text-align: left;
  margin-top: 10px;
  border-bottom: 1px solid slategray;
}
.fourli .col1 .box1 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 0;
  margin-top: 10px;
}

.fourli .col1 .box2 {
  height: 220px;
  text-align: left;
  margin-top: 10px;
}
.fourli .col1 .box2 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 0;
  margin-top: 10px;
}

/*====================col2============*/

.fourli .col2 {
  background-color: #f5f5f6;
  width: 233px;
  font-size: 15px;
  margin-left: 20px;
}

.fourli .col2 .box1 {
  height: 200px;
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
  border-bottom: 1px solid slategray;
}
.fourli .col2 .box1 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 0;
  margin-top: 10px;
}

.fourli .col2 .box2 {
  height: 150px;
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
}
.fourli .col2 .box2 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 0;
  margin-top: 10px;
}

/*===============col3============*/

.fourli .col3 {
  width: 233px;
  font-size: 15px;
  margin-left: 30px;
}
.fourli .col3 .box1 {
  height: 250px;
  text-align: left;
  margin-top: 10px;
  border-bottom: 1px solid slategray;
}
.fourli .col3 .box1 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 0;
  margin-top: 10px;
}

.fourli .col3 .box2 {
  height: 225px;
  text-align: left;
  margin-top: 10px;
}
.fourli .col3 .box2 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 0;
}

.fourli .col3 .box2 .sub-menu-heading4 {
  margin-bottom: 20px;
}

/*==========BEAUTY=================*/

.menu-heading5 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4e4848;
  padding-bottom: 31px;
}
.fifthli {
  position: relative;
}

.sub-menu5 {
  display: none;
  position: absolute;
  top: 100%;
  left: -30px;
  margin-top: 33px;
  background-color: #ffffff;
  height: 450px;
  width: 700px;
  z-index: 9999;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.fifthli:hover .sub-menu5 {
  display: flex;
}

.fifthli:hover .menu-heading5 {
  border-bottom: 5px solid #0073ff;
}

.item-heading5 {
  color: #0073ff;
  font-size: 13px;
  font-weight: 600;
}

.sub-menu-heading5 ul {
  display: flex;
  flex-direction: column;
}

.sub-menu5 ul li a {
  color: #423d3d;
}
.sub-menu5 ul li {
  font-size: 12px;
  margin-bottom: 6px;
}

.sub-menu5 ul li:hover a {
  color: #000;
  font-weight: 550;
}

/*===============col1==========*/

.fifthli .col1 {
  width: 233px;
  font-size: 15px;
  margin-left: 30px;
}
.fifthli .col1 .box1 {
  height: 230x;
  text-align: left;
  margin-top: 10px;
  border-bottom: 1px solid slategray;
}
.fifthli .col1 .box1 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 0;
  margin-top: 10px;
}

/*====================col2============*/

.fifthli .col2 {
  background-color: #f5f5f6;
  width: 233px;
  font-size: 15px;
  margin-left: 20px;
}

.fifthli .col2 .box1 {
  height: 300px;
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
  border-bottom: 1px solid slategray;
}
.fifthli .col2 .box1 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 0;
  margin-top: 10px;
}

.fifthli .col2 .box2 {
  height: 100px;
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
  border-bottom: 1px solid slategray;
}
.fifthli .col2 .box2 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 0;
  margin-top: 10px;
}

/*===============col3============*/

.fifthli .col3 {
  width: 233px;
  font-size: 15px;
  margin-left: 30px;
}
.fifthli .col3 .box1 {
  height: 225px;
  text-align: left;
  margin-top: 10px;
  border-bottom: 1px solid slategray;
}
.fifthli .col3 .box1 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 0;
  margin-top: 10px;
}

.fifthli .col3 .box2 {
  height: 225px;
  text-align: left;
  margin-top: 10px;
}
.fifthli .col3 .box2 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 0;
}

.fifthli .col3 .box2 .sub-menu-heading5 {
  margin-bottom: 20px;
}

/*==================GENZ===============*/

.menu-heading6 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4e4848;

  padding-bottom: 31px;
}
.sixthli {
  position: relative;
}

.sub-menu6 {
  display: none;
  position: absolute;
  top: 100%;
  left: -30px;
  margin-top: 33px;
  background-color: #ffffff;
  height: 450px;
  width: 700px;
  z-index: 9999;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.sixthli:hover .sub-menu6 {
  display: flex;
}

.sixthli:hover .menu-heading6 {
  border-bottom: 5px solid #0073ff;
}

.item-heading6 {
  color: #0073ff;
  font-size: 13px;
  font-weight: 600;
}

.sub-menu-heading6 ul {
  display: flex;
  flex-direction: column;
}

.sub-menu6 ul li a {
  color: #423d3d;
}
.sub-menu6 ul li {
  font-size: 12px;
  margin-bottom: 6px;
}

.sub-menu6 ul li:hover a {
  color: #000;
  font-weight: 550;
}

/*===============col1==========*/

.sixthli .col1 {
  width: 233px;
  font-size: 15px;
  margin-left: 30px;
}
.sixthli .col1 .box1 {
  height: 230x;
  text-align: left;
  margin-top: 10px;
  border-bottom: 1px solid slategray;
}
.sixthli .col1 .box1 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 0;
  margin-top: 10px;
}

/*====================col2============*/

.sixthli .col2 {
  background-color: #f5f5f6;
  width: 233px;
  font-size: 15px;
  margin-left: 20px;
}

.sixthli .col2 .box1 {
  height: 150px;
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
  border-bottom: 1px solid slategray;
}
.sixthli .col2 .box1 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 0;
  margin-top: 10px;
}

.sixthli .col2 .box2 {
  height: 150px;
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
  border-bottom: 1px solid slategray;
}
.sixthli .col2 .box2 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 0;
  margin-top: 10px;
}

/*===============col3============*/

.sixthli .col3 {
  width: 233px;
  font-size: 15px;
  margin-left: 30px;
}
.sixthli .col3 .box1 {
  height: 225px;
  text-align: left;
  margin-top: 10px;
  border-bottom: 1px solid slategray;
}
.sixthli .col3 .box1 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 0;
  margin-top: 10px;
}

.sixthli .col3 .box2 {
  height: 225px;
  text-align: left;
  margin-top: 10px;
}
.sixthli .col3 .box2 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 0;
}

.sixthli .col3 .box2 .sub-menu-heading6 {
  margin-bottom: 20px;
}

/*===========Studio=====*/

.menu-heading7 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4e4848;
  padding-bottom: 31px;
}
#new {
  color: #ff0000;
  font-size: 10px;
}
.seventhli {
  position: relative;
}

.sub-menu7 {
  display: none;
  position: absolute;
  top: 100%;
  left: -30px;
  margin-top: 33px;
  background-color: #ffffff;
  height: 400px;
  width: 500px;
  z-index: 9999;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.seventhli:hover .sub-menu7 {
  display: flex;
}

.seventhli:hover .menu-heading7 {
  border-bottom: 5px solid orangered;
}

.sub-menu7 .col1 {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 500px;
  align-items: center;
  margin: 20px;
}

.sub-menu7 .col1 h1 {
  padding-bottom: 10px;
}
.sub-menu7 .col1 p {
  padding-bottom: 10px;
}

.sub-menu7 .col1 img {
  width: 400px;
  padding-bottom: 10px;
}
.sub-menu7 .col1 button {
  width: 170px;
  height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid rgb(97, 94, 94);
  cursor: pointer;
}

/*============search bar ====*/

.search-div {
  /* align-items: center; */
  margin-top: 20px;
  width: 480px;
  margin-left: 25px;
  height: 40px;
  background-color: #f5f5f6;
  display: flex;
  border: 1px solid #f5f5f6;
  border-radius: 3px;
}

.search-div form {
  display: flex;
  width: 100%;
}

.search-div input {
  width: 100%;
  background-color: #f5f5f6;
  outline: none;
  border: none;
  background: transparent;
 
}
.search-icon {
  width: 40px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.search-div:focus-within {
    background-color: #ffffff;
}

/*==============profile wishlist bag ===*/

.side-area{
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.side-area-text{
  margin: 10px;
  display: flex;
  flex-direction: column;
 
}
.side-area-text a{
 color: #000;
 font-size: 14px;
 font-weight: 600;
 
}